<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 style="color:gray;">Questions</h1>
    <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary" (click)="onAddQuestion()">Add New</button>

    <!-- Content Row -->

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th>Question</th>
                        <th>Options</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let question of questions;let i = index">
                        <td> {{ i+1 }}</td>
                        <td>{{ question.question }}</td>
                        <td>
                            <ol>
                                <li *ngFor="let option of question.option">{{option.options}}</li>
                            </ol>
                        </td>
                        <td>
                            <a style="cursor: pointer;" [routerLink]="[i,'edit']">
                                <fa-icon [icon]="faPencilAlt" style="color:#486dda;"></fa-icon>
                            </a>
                        </td>
                        <td>
                            <a style="cursor: pointer;" (click)="onDeleteQuestion(i)">
                                <fa-icon [icon]="faTrash" style="color:#486dda;"></fa-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- /.container-fluid -->

<!-- End of Main Content -->