<div class="container-fluid">

    <!-- Page Heading -->
    <h1 style="color:gray;">Employee Registration</h1>
    <hr>
    <h3>Personal Details</h3>
    <hr>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="row">
            <div class="col-xl-4">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" ngModel name="username" required #username="ngModel" minlength="3">
                <div *ngIf="username.errors && (username.invalid && username.touched)">
                    <small class="text-danger" *ngIf="username.errors?.required">*username is required</small>
                    <small class="text-danger" *ngIf="username.errors?.minlength">*username should have atleast 3 characters</small>
                </div>
            </div>
            <div class="col-xl-4">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" ngModel name="name" maxlength="10" required #name="ngModel">
                <div *ngIf="name.errors && (name.invalid && name.touched)">
                    <small class="text-danger" *ngIf="name.errors?.required">*name is required</small>
                    <small class="text-danger" *ngIf="name.errors?.maxlength">*name should not exceed 10 characters</small>
                </div>
            </div>
        </div>
        <hr>
        <h3>Contact Details</h3>
        <hr>
        <div class="row">
            <div class="col-xl-4">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" ngModel name="email" required email #email="ngModel">
                <!-- <span style="font-size: small;" class="help-block" *ngIf="!email.valid && email.touched"> *Please enter a valid email</span> -->
                <div *ngIf="email.errors && (email.invalid && email.touched)">
                    <small class="text-danger" *ngIf="email.errors?.required">*email is required</small>
                    <small class="text-danger" *ngIf="email.errors?.email">*please enter a valid email</small>
                </div>
            </div>
            <div class="col-xl-4">
                <label for="phone">Mobile Number</label>
                <input type="tel" class="form-control" id="phone" ngModel name="phoneNumber" required pattern="^[0-9]{10}$" #phone="ngModel">
                <div *ngIf="phone.errors && (phone.invalid && phone.touched)">
                    <small class="text-danger" *ngIf="phone.errors?.required">*phone number is required</small>
                    <small class="text-danger " *ngIf="phone.errors?.pattern">*Phone Number should be atleast 10 digits</small>
                </div>
            </div>
        </div>
        <hr>
        <h3>Official Details</h3>
        <hr>
        <div class="row">
            <div class="col-xl-4">
                <label for="department">Department</label>
                <select name="department" id="department" class="form-control" [ngModel]="defaultDepartment">
                        <option [value]="department._id" *ngFor="let department of departments; let i = index">{{department.name}}</option>                       
                </select>
            </div>
            <div class="col-xl-4">
                <label for="designation">Designation</label>
                <select name="designation" id="designation" class="form-control" [ngModel]="defaultDesignation">
                    <option [value]="designation._id" *ngFor="let designation of designations; let i =index">{{ designation.name }}</option>                    
                </select>
            </div>
            <div class="row">

            </div>
        </div>
        <br>
        <div class="row">
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Register</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button> &nbsp;&nbsp;
        </div>
    </form>

</div>