<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" style="cursor: pointer;" routerLink="home">
        <div class="sidebar-brand-icon rotate-n-15">
            <fa-icon [icon]="faClipboardList" style="font-size: 2rem;"></fa-icon>
        </div>
        <div class="sidebar-brand-text mx-3">Survey System</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li routerLinkActive="nav-item active">
        <a class="nav-link" style="cursor: pointer;" routerLink="home">
            <fa-icon [icon]="faTachometerAlt"></fa-icon>
            <span>&nbsp;&nbsp;Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
</ul>