<div class="backdrop" (click)="onClose()"></div>
<div class="modal-dialog modal-confirm" style="z-index: 56;">
    <div class="modal-content">
        <div class="modal-header">
            <div class="icon-box">
                <fa-icon [icon]="faExclamationCircle" style="font-size: 50px;text-align: center;"></fa-icon>
            </div>
            <h4 class="modal-title">Sorry!</h4>
        </div>
        <div class="modal-body">
            <p class="text-center">{{ message }}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger btn-block" (click)="onClose()">OK</button>
        </div>
    </div>
</div>