<div class="container-fluid">

    <!-- Page Heading -->
    <h1 style="color:gray;">Audit Log</h1>
    <br>
    <form [formGroup]="auditLogForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-xl-3">
                <label>Employee</label>
                <select formControlName="employee" id="employee" class="form-control" autofocus>
                      <option value="{{employee._id}}" *ngFor="let employee of employees.slice(1)">{{ employee.name }}</option>
                      
            </select>
            </div>
            <div class="col-xl-3">
                <label>Page</label>
                <select formControlName="pages" id="page" class="form-control" autofocus>
                <option value="{{page}}" *ngFor="let page of pages">{{page}}</option>                
            </select>
            </div>
            <div class="col-xl-3">
                <label for="fromDate">From Date</label>
                <input type="date" formControlName="fromDate" (change)="onChange()" id="fromDate" class="form-control">
            </div>
            <div class="col-xl-3">
                <label for="toDate">To Date</label>
                <input type="date" formControlName="toDate" min="{{minDate}}" id="toDate" class="form-control">
            </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Show</button>
    </form>
    <!-- Content Row -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" [hidden]="hideTable">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th>Employee Name</th>
                        <th>Page</th>
                        <th>Action</th>
                        <th>Time Stamp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let audit of auditList | paginate:{
                        itemsPerPage:5,
                        currentPage: page,
                        totalItems: auditLength
                    }; let i=index">
                        <td>{{ i+1 }}</td>
                        <td>{{ audit.userid.name }}</td>
                        <td>{{ audit.page }}</td>
                        <td>{{ audit.action }}</td>
                        <td>{{ this.datePipe.transform(audit.timestamp,'dd-MM-yyyy HH:MM:ss') }}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="handlePageChange($event)" autoHide="true"></pagination-controls>
        </div>
    </div>
</div>
<!-- /.container-fluid -->