<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">List of Surveys</h1>
    </div>

    <!-- Content Row -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th>Survey Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let survey of surveys; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{ survey.name }}</td>
                        <td>{{ this.datePipe.transform(survey.start_date,'dd-MM-yyyy') }}</td>
                        <td>{{ this.datePipe.transform(survey.end_date,'dd-MM-yyyy') }}</td>
                        <td><button class="btn btn-success" type="button" (click)="onAttend(survey._id)" [disabled]="(currentDate | date:'yyyy-MM-dd') > (survey.end_date | date:'yyyy-MM-dd')">Attend</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>