<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    You have completed your survey
                </h2>
                <p>
                    Thank you for taking the time to complete this survey.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" routerLink="/employee/home">Ok</a>
                </p>
            </div>
        </div>
    </div>
</div>