<div class="container-fluid">

    <!-- Page Heading -->
    <h1 style="color:gray;">{{name}}</h1>
    <br>
    <!-- Content Row -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Qn No.</th>
                        <th>Question</th>
                        <th>Options</th>
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let surveyQuestion of surveyQuestions; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ surveyQuestion.questionid.description }}</td>
                        <td>
                            <ol>
                                <li *ngFor="let surveyOption of surveyQuestion.questionid.options">{{surveyOption}}</li>
                            </ol>
                        </td>
                        <td>
                            <a style="cursor:pointer" (click)="openModalEdit(editModal, surveyQuestion)">
                                <fa-icon [icon]="faPencilAlt" style="color:#486dda;"></fa-icon>
                            </a>
                            <ng-template #editModal let-modal>
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editProfileLabel">Edit Question</h5>
                                    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                 </button>
                                </div>

                                <div class="modal-body">
                                    <form [formGroup]="editSQForm" (ngSubmit)="onSubmit()">
                                        <div class="form-group row">
                                            <label for="surveyQuestion" class="col-sm-4 col-form-label">Question</label>
                                            <div class="col-sm-8">
                                                <select formControlName="surveyQuestion" class="form-control" (change)="getOption($event.target.value);" autofocus>                                
                                                    <option [value]="question._id"  *ngFor="let question of questions;let i=index">{{ question.description }}</option>                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                Options:
                                                <li *ngFor="let option of options;">
                                                    {{ option }}
                                                </li>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </ng-template>
                        </td>
                        <td>
                            <a style="cursor:pointer" (click)="openModal(deleteModal, surveyQuestion)">
                                <fa-icon [icon]="faTrash" style="color:#486dda;"></fa-icon>
                            </a>
                            <ng-template #deleteModal let-modal>
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteSQLabel">Delete</h5>
                                    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                 </button>
                                </div>

                                <div class="modal-body">
                                    <form (ngSubmit)="onDeleteSurveyQuestion()" #f="ngForm">
                                        Are you sure you want to delete this?
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">No</button>
                                            <button type="submit" class="btn btn-primary">Yes</button>
                                        </div>
                                    </form>
                                </div>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.container-fluid -->